@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --body-color : #ece7d8;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    vertical-align: middle;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    padding: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: var(--body-color);
}

.form-input {
    display: block;
    outline: 1px solid black;
    text-align: center;
}


.link-list li:hover, .linksdiv li:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.1px;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}

.logodiv {
    -webkit-text-stroke: 0.7px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
}

.linksdiv li {
    margin : auto 50px;
}


.dvmfv {
    justify-content: space-evenly;
}



